<mat-card class="product-create mat-elevation-z3">
    <mat-card-title class="title">Criar Produto</mat-card-title>
    <form class="container-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <input matInput formControlName="name" placeholder="Nome do Produto">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="price" placeholder="Preço">
          </mat-form-field>
          <button type="submit">Criar Produto</button>
      </form>
</mat-card>