.product-create{
    max-width: 500px;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-form button{
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #3F51B5;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}